<% if user_signed_in? %>
<nav id="admin-navigation">
  <h2>Admin</h2>        
  <ul>
    <li><%= link_to t('nav.teams'), admin_teams_path %></li>
    <li><%= link_to t('nav.countries'), admin_countries_path %></li>
    <li><%= link_to t('nav.players'), admin_players_path %></li>
    <li><%= link_to t('nav.matches'), admin_matches_path %></li>
  </ul>
</nav>
<% end %>