<header id="header" role="banner">
  <div class="header-container">
    <h1><%= link_to t('app.name'), root_path %></h1>
    <%= render 'partials/primary_navigation' %>
    <%= render 'partials/user_actions' %>
  </div>
</header>