<nav id="primary-navigation">
  <ul>
    <li><%= link_to t('nav.home'), root_path %></li>
    <li><%= link_to t('nav.most_popular_countries'), most_popular_countries_path %></li>
    <li><%= link_to t('nav.most_popular_players'), most_popular_players_path %></li>
    <li><%= link_to t('nav.top_scorers'), top_scorers_path %></li>
  </ul>
</nav>
