<% if user_signed_in? %>
<nav id="primary-navigation">        
  <ul>
    <li><%= link_to t('nav.teams'), teams_path %></li>
    <li><%= link_to t('nav.countries'), admin_countries_path %></li>
    <li><%= link_to t('nav.players'), players_path %></li>
    <li><%= link_to t('nav.matches'), matches_path %></li>
  </ul>
</nav>
<% end %>