$grids: 1 3;
$gutters: 1/3;

.main-container {
  @include clearfix;
  margin: 0 auto;
  padding-top: rhythm(2);
  width: 1200px;
  
  .left-column {
    @include grid-span(1, 1);
  }
  
  .right-column {
    @include grid-span(1, 2);
  }
}