table {  
  th, td {
    padding: rhythm(0.5) 20px;
  }
  
  th:first-child, td:first-child {
    padding-left: 0;
  }
  
  th:last-child, td:last-child {
    padding-right: 0;
  }    
  
  th {
    font-weight: bold;
  }
  
  thead {
    tr th,
    tr td {

    }
    
    tr:last-child {
      th, td {
        @include trailing-border(1px, 0.5);
      }
    }

  }

}