body {
  color: $grey;
  background-color: $beige;
  font-family: 'Open Sans', sans-serif;
}

a {
  color: $blue;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}

h1 {
  @include adjust-font-size-to(28px);
}