body {
  color: $default-font-color;
  background-color: $beige;
  font-family: $default-font-family;
  font-size: $default-font-size;
  line-height: $default-line-height;
}

a {
  color: $blue;
  text-decoration: none;
  
  &:hover {
    text-decoration: underline;
  }
}