<table>
  <thead>
    <tr>
      <th>Team</th>
      <th>Games Played</th>
      <th>Teams Remaining</th>
      <th>Points</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
    <tr>
      <td><%= link_to team, team %></td>
      <td><%= team.matches_played %></td>
      <td><%= team.countries_remaining %></td>
      <td><%= team.calculate_total %></td>
    </tr>
    <% end %>
  </tbody>
</table>