<h1>Most Popular</h1>
<ul>
<% @countries.each do |country| %>
  <li>
    <%= link_to country, country %> (<%= pluralize country.number_of_teams, 'team' %>)
    <% if country.eliminated %>
      - Eliminated
    <% end %>
  </li>
<% end %>
</ul>
