label {
  @include trailer(0.5);
  display: block;
}

input[type=text],
input[type=email],
input[type=password],
textarea {
  @include adjust-font-size-to(16px, 1.5);
  border: none;
  margin: 0;
  padding: 0 10px;
  width: 100%;
}

select {
  @include adjust-font-size-to(16px, 1.5);
  border: 0;
  width: 100%;
}

input[type=checkbox] {
  @include leader;
  @include trailer;
}

select[multiple] {
  background-image: none;
  height: auto;
}

input[type=submit] {
  @include adjust-font-size-to(16px);
  @include leader(0.5);
  @include trailer(0.5);
  @include padding-leader(0.5);
  @include padding-trailer(0.5);
  background: $blue;
  border: none;
  color: $white;
  padding-left: 15px;
  padding-right: 15px;
  
  &:hover {
    background: $teal;
    cursor: pointer;
  }
}