#header {
  @include clearfix;
  background: $black;
  color: $white;
  padding: rhythm(1) 20px;
  
  .container {
    @include container;
  }
  
  h1 {
    @include adjust-font-size-to(20px);
    float: left;
  }
  
  a {
    color: $white;
    
    &:hover {
      text-decoration: none;
    }
  }
}

#primary-navigation {
  @include horizontal-list;
  float: left;
  padding-left: 50px;
}

#user-actions {
  @include horizontal-list;
  float: right;
}