$include-html-classes: false;
$include-html-global-classes: true;
$include-html-table-classes: true;
$include-html-top-bar-classes: true;
$include-html-type-classes: true;

@import 'compass';
@import 'foundation';

@import 'layouts/default';

@import 'modules/scaffolds';